<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Author</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
  <h1>El autor es {{ author_name }}</h1>
  <h2>Mí edad es {{ author_age }}</h2>
  <h3>{{ author_bio }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dignissimos iusto minus id iste, quibusdam, libero rerum delectus et quia ipsum, cupiditate vitae cumque recusandae. Labore molestias illo praesentium, blanditiis.</h3>
</body>
</html>
